/* Some resource(s):
https://www.w3schools.com/howto/howto_css_image_text.asp

*/

html {
    height: 100%;
}

.loading {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4vw;
    font-weight: bolder;
    color: #8cff99;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Andale Mono", AndaleMono, monospace;
    background-image: url("resources/monitor.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
    background-color: #040404;
    color: #8cff99;
    /* Below from https://stackoverflow.com/questions/826782 for disabling select*/
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Safari */
    -khtml-user-select: none;    /* Konqueror HTML */
    -moz-user-select: none;      /* Old versions of Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

img {
    align-self: center;
    max-width: 90%;
    max-height: 97%
}

.comic-box {
    visibility: hidden; /* hidden until the loading is complete */
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: auto;
    margin-right: auto;
    /* border: 1px solid black; */
    width: 77%;
    height: 80%;
}

#dialogue {
    width: 80%;
    position: absolute;
    top: 64%;
    left: 10%;
    /* transform: translate(-50%, -50%); */
    font-size: 1.3vw;
    line-height: 1.8vw;
    text-align: left;
    opacity: 0.7;
}

.option {
    color: orange;
    cursor: pointer;
}

.option:hover {
    color: rgb(255, 238, 0);
}

/* MERGE SPEAKER AND DIALOGUE */

/* #speaker {
    width: 95%;
    position: absolute;
    top: 66%;
    left: 10%;
    font-size: 1.3vw;
    text-align: left;
} */

.choice {
    visibility: hidden;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: royalblue;
    cursor: pointer;
}

.choice p:hover {
    color: orange;
}
.vertical-menu {
  width: 50%; /* Set a width if you like */
  position: absolute;
  text-align: left;
  top:81.5%;
  left: 44%
}

.vertical-menu a {
  font-family: "Andale Mono", AndaleMono, monospace;
  /* font-family: 'Ubuntu Mono', monospace; */
  /* font-family: "Courier New", Courier, monospace; */
  font-size: 30px;
  font-weight: lighter;
  opacity: 0.7;
  color: #85cb8d; /* Black text color */
  display: inline-block; /* Make the links appear below each other */
  padding: 10px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
text-decoration: underline;
}

.vertical-menu a.active {
  text-decoration: underline;
}
