/* 
    Webfonts made local through https://google-webfonts-helper.herokuapp.com/fonts
*/


/* permanent-marker-regular - latin */
@font-face {
    font-family: 'Permanent Marker';
    font-style: normal;
    font-weight: 400;
    src: url('resources/fonts/permanent-marker-v9-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Permanent Marker Regular'), local('PermanentMarker-Regular'),
        url('resources/fonts/permanent-marker-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('resources/fonts/permanent-marker-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('resources/fonts/permanent-marker-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
        url('resources/fonts/permanent-marker-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('resources/fonts/permanent-marker-v9-latin-regular.svg#PermanentMarker') format('svg'); /* Legacy iOS */
}

/* neucha-regular - latin */
@font-face {
    font-family: 'Neucha';
    font-style: normal;
    font-weight: 400;
    src: url('resources/fonts/neucha-v11-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Neucha'),
        url('resources/fonts/neucha-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('resources/fonts/neucha-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('resources/fonts/neucha-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
        url('resources/fonts/neucha-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('resources/fonts/neucha-v11-latin-regular.svg#Neucha') format('svg'); /* Legacy iOS */
}

body {
    font-family: 'Neucha', Tahoma, Geneva, sans-serif; /* In case webfonts are blocked */
    text-align: center;
    color: #040404;
    background-color: #DDDDDD;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Permanent Marker', Tahoma, Geneva, sans-serif; /* In case webfonts are blocked */
    margin: auto;
    margin-top: 0;
    padding-bottom: 1.1%;
    font-size: 4vw;
    max-width: 50%;
    cursor: default;
}

p {
    font-size: 1.5vw;
    line-height: 2vw;
    margin: 0;
    padding-left: 20%;
    padding-right: 20%;
    /* text-align: left; */
}

ul {
    font-size: 1.3vw;
    line-height: 2vw;
    padding-left: 23.5%;
    padding-right: 20%;
    text-align: left; 
}

li {
    padding-bottom: 1.5%;
}

.colorbox {
    margin: auto;
    border: 1px solid #040404;
    width: 35vw;
    height: 35vw;
}

audio {
    width: 35.2%;
}

.content {
    padding-top: 2%;
    padding-bottom: 4%;
}

.main {
    border: black;
    border-width: 1%;
}

.footer {
    background-color: #040404;
    color: beige;
    border-color: snow;
    border-style: inset;
    border-width: 0;
    border-top-width: 1px;
    padding: 0.7%;
}

.noselect {
    /* Below from https://stackoverflow.com/questions/826782 for disabling select*/
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Safari */
    -khtml-user-select: none;    /* Konqueror HTML */
    -moz-user-select: none;      /* Old versions of Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}



/* 
https://www.youtube.com/watch?v=CkFm27GQtMQ
14:34 transition ease in
*/