body {
    font-family: Tahoma, Geneva, sans-serif;
    text-align: center;
    color: #040404;
    margin: 0;
    padding: 0;
}

img {
    width: 50%;
}

.comic-box {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    border: 1px solid black;
    width: 35%;
}

.choice {
    color: royalblue;
    cursor: pointer;
}
