/* Pure CSS Carousel Modified */
/* Inspired by https://frontendscript.com/pure-css-carousel-slider/ */

.carousel {
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: center;
  /* position: relative; */
  /* height: 300px; */
  /* width: 400px; */
  width: 100%;
  padding: 0;
  /* overflow: visible; */
  text-align: center;
  list-style: none;
}



/* Carousel activator (backend)*/
/* Activators decide which slide to show */
.c__a {
  display: none;
}


/* Template of what happens to carousel slides when a corresponding activator is selected */
.c__a:nth-of-type(1):checked ~ .c__ss > .c__s:nth-of-type(1),
.c__a:nth-of-type(2):checked ~ .c__ss > .c__s:nth-of-type(2),
.c__a:nth-of-type(3):checked ~ .c__ss > .c__s:nth-of-type(3),
.c__a:nth-of-type(4):checked ~ .c__ss > .c__s:nth-of-type(4),
.c__a:nth-of-type(5):checked ~ .c__ss > .c__s:nth-of-type(5)
{
  /* Display */
  -webkit-transform: scale(1);
  transform: scale(1);
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: 5;

  /* Transition */
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, transform 0.5s;
  transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;

  /* Animation */
  animation: animateScroll 20s ease-in-out infinite alternate;
}


/* Custom style of carousel slides when a corresponding activator is selected */
.c__a:nth-of-type(2):checked ~ .c__ss > .c__s:nth-of-type(2) {
  animation-duration: 25s;
}
.c__a:nth-of-type(3):checked ~ .c__ss > .c__s:nth-of-type(3) {
  animation-duration: 10s;
}
.c__a:nth-of-type(4):checked ~ .c__ss > .c__s:nth-of-type(4) {
  animation-duration: 15s;
}
.c__a:nth-of-type(5):checked ~ .c__ss > .c__s:nth-of-type(5) {
  animation-duration: 24s;
}


/* Template of what happens to carousel indicators when a corresponding activator is selected */
.c__a:nth-of-type(1):checked ~ .c__is .c__i:nth-of-type(1),
.c__a:nth-of-type(2):checked ~ .c__is .c__i:nth-of-type(2),
.c__a:nth-of-type(3):checked ~ .c__is .c__i:nth-of-type(3),
.c__a:nth-of-type(4):checked ~ .c__is .c__i:nth-of-type(4),
.c__a:nth-of-type(5):checked ~ .c__is .c__i:nth-of-type(5)
{
  opacity: 1;
}



/* A carousel indicator container */
.c__is {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  /* position: relative; */
  height: 100%;
  width: 16%;
  margin: 0 4% 0 4%;
  text-align: left;
}


/* Carousel indicator (frontend) */
/* An alternative display of default radio's indicator */
.c__i {
  display: flex;
  flex-flow: row nowrap;
  padding: 5% 7% 5% 7%;   /* Top/Right/Bottom/Left */
  border-radius: 2%;
  opacity: 0.45;
  z-index: 2;
  cursor: pointer;
}


/* Carousel indicator on hover */
.c__i:hover {
  opacity: 0.85;
}


/* Small icon to decorate carousel indicator */
.c__i img {
  width: 15px;
  height: 15px;
  -ms-transform: translate(-18%,22%);
  transform: translate(-18%,22%);
}


/* Text labels on carousel indicator */
.c__i div {
  -ms-transform: translateX(5%);
  transform: translateX(5%);
}



/* Carousel slide container */
.c__ss {
  position: relative;
  right: 0;
  top: 0;
  width: 67%;
  height: 100%;
  /* max-height: 100vw; */
  border: solid black 2px;
  border-radius: 0.5%;
}


/* Carousel slide */
.c__s {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow-y: auto;
  overflow-x: hidden;
  background-size: cover;
  background-position: top left;
  background-color: snow;
  background-image: url(../loading.svg);
  opacity: 0;
  animation: none;
}



/* --------
  Theming
-------- */
.carousel-container {
  min-height: 80vh;
  max-width: 90vw;
  margin: auto;
  display: flex;
  justify-content: center;
  overflow: visible;
}

.my-carousel {
  border-radius: 2px;
  margin: 30px;
}

/* Date labeling */
.carousel-container h3 {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1%;
  margin-bottom: auto;
  border-left: solid black 2px;
  border-top: solid black 2px;
  background-color: snow;
  background-color: rgba(255,255,255,0.9);
  color: #454545;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 2px;
  text-align: center;
}

/* Carousel indicator */
.c__i {
  width: 100%;
  background-color: #fafafa;
  border: solid #555555 1px;
  color: black;
}

.c__s:nth-of-type(1) {
  background-image: none;
}
.c__s:nth-of-type(2) {
  background-image: url(../screenshots/proj_4.jpg), url(../loading.svg);
}
.c__s:nth-of-type(3) {
  background-image: url(../screenshots/proj_3.png), url(../loading.svg);
}
.c__s:nth-of-type(4) {
  background-image: url(../screenshots/proj_2.png), url(../loading.svg);
}
.c__s:nth-of-type(5) {
  background-image: url(../screenshots/proj_1.png), url(../loading.svg);
}

@keyframes animateScroll {
  0% { background-position: top center; }
  33% { background-position-x: left; }
  100% { background-position: bottom right; }
}


@media screen and (max-width: 1023px) {
  p {
      font-size: 22px;
      line-height: 44px;
  }
}

@media screen and (max-width: 650px) {
  .carousel {
    height: auto;
    flex-flow: row wrap;
  }
  .carousel-container {
    min-height: 90vh;
    min-width: 100vw;
    /* margin-bottom: 3vh; */
  }
  .c__ss {
    position: relative;
    width: 80vw;
    height: 60%;
  }
  .c__is {
    position: relative;
    height: 35%;
    width: 100%;
    flex-flow: row wrap;
  }
  .c__i {
    margin-bottom: 2%;
  }
}