/* Pure CSS Carousel Slider with Dot & Arrow Navigation */
/* From https://frontendscript.com/pure-css-carousel-slider/ */

/* Shortened keywords */
/* carousel__activator  -->  c__a */
/* carousel__indicators  -->  c__is */
/* carousel__indicator  -->  c__i */
/* carousel__slide  -->  c__s */

/**
  * style variables
*/
/**
  * Control & indicator mixin
*/

.carousel {
  /* height: 300px; */
  /* width: 400px; */
  width: 100%;
  /* overflow: hidden; */
  text-align: center;
  position: relative;
  padding: 0;
  list-style: none;

  display: flex;
  flex-flow: row-reverse wrap;
  justify-content: space-evenly;
}
.c__a {
  display: none;
}
.c__a:nth-of-type(1):checked ~ .c__ss > .c__s:nth-of-type(1) {
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, transform 0.5s;
  transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  z-index: 7;
}
.c__a:nth-of-type(1):checked ~ .c__is .c__i:nth-of-type(1) {
  opacity: 1;
}
.c__a:nth-of-type(2):checked ~ .c__ss > .c__s:nth-of-type(2) {
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, transform 0.5s;
  transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  z-index: 5;  /* Appear on top when selected */
  
  animation: animateScroll 25s ease-in-out infinite;
  animation-direction: alternate;
}

.c__a:nth-of-type(2):checked ~ .c__is .c__i:nth-of-type(2) {
  opacity: 1;
}
.c__a:nth-of-type(3):checked ~ .c__ss > .c__s:nth-of-type(3) {
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, transform 0.5s;
  transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  z-index: 5;  /* Appear on top when selected */
  
  animation: animateScroll 10s ease-in-out infinite;
  animation-direction: alternate;
}
.c__a:nth-of-type(3):checked ~ .c__is .c__i:nth-of-type(3) {
  opacity: 1;
}
.c__a:nth-of-type(4):checked ~ .c__ss > .c__s:nth-of-type(4) {
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, transform 0.5s;
  transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  z-index: 5;  /* Appear on top when selected */
  
  animation: animateScroll 15s ease-in-out infinite;
  animation-direction: alternate;
}
.c__a:nth-of-type(4):checked ~ .c__is .c__i:nth-of-type(4) {
  opacity: 1;
}
.c__a:nth-of-type(5):checked ~ .c__ss > .c__s:nth-of-type(5) {
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, transform 0.5s;
  transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  z-index: 5;  /* Appear on top when selected */
  
  animation: animateScroll 24s ease-in-out infinite;
  animation-direction: alternate;
}
.c__a:nth-of-type(5):checked ~ .c__is .c__i:nth-of-type(5) {
  opacity: 1;
}
.c__is {
  /* top: 0; */
  /* left: 10%; */
  position: relative;
  height: 100%;
  /* position: absolute; */
  /* bottom: 20px; */
  width: 16%;
  text-align: left;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
}
.c__i {
  /* height: 30px;
  width: 30px; */
  /* border-radius: 100%; */
  display: flex;
  flex-flow: row nowrap;
  z-index: 2;
  cursor: pointer;
  opacity: 0.45;
  padding: 5%;
  padding-left: 7%;
  padding-right: 7%;
  margin: 0 2.5px 0 2.5px;
  border-radius: 2%;
}
.c__i:hover {
  opacity: 0.85;
}
.c__i img {
  width: 15px;
  height: 15px;
  -ms-transform: translate(-18%,22%);
  transform: translate(-18%,22%);
}
.c__i div {
  -ms-transform: translateX(5%);
  transform: translateX(5%);
}
.c__ss {
  position: relative;
  right: 0;
  top: 0;
  width: 60vw;
  height: 100%;
  max-height: 100vw;
  /* border: solid #555555 6px; */
  border: solid black 2px;
  border-radius: 0.5%;
}
.c__s {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow-y: auto;
  overflow-x: hidden;
  opacity: 0;
  background-size: cover;
  background-position: top;
  animation: none;
  background-color: snow;
  background-image: url(../loading.svg);
}
/**
  * Theming
*/
.carousel-container {
  min-height: 80vh;
  max-width: 90vw;
  margin: auto;
  display: flex;
  justify-content: center;
}
.my-carousel {
  border-radius: 2px;
  margin: 30px;
}
.carousel-container h1 {
  border-left: solid #555555 2px;
  border-top: solid #555555 2px;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 2px;
  /* background-color: #040404; */
  background-color: snow;
  background-color: rgba(255,255,255,0.9);
  padding: 1%;
  padding-bottom: 1%;
  /* color: #fafafa; */
  color: #454545;
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: center;
  margin-bottom: auto;
  /* margin-top: -25px; */
}
h2,
h3 {
  color: #fafafa;
}
h3 {
  font-size: 50px;
}
.c__i {
  background-color: #fafafa;
  border: solid #555555 1px;
  width: 100%;
}
.c__i div{
  color: black;
  width: 100%;
}
.c__s:nth-of-type(1) {
  background-image: none;
}
.c__s:nth-of-type(2) {
  background-image: url(../screenshots/proj_4.jpg), url(../loading.svg);
}
.c__s:nth-of-type(3) {
  background-image: url(../screenshots/proj_3.png), url(../loading.svg);
}
.c__s:nth-of-type(4) {
  background-image: url(../screenshots/proj_2.png), url(../loading.svg);
}
.c__s:nth-of-type(5) {
  background-image: url(../screenshots/proj_1.png), url(../loading.svg);
}

@keyframes animateScroll {
  0% { background-position: top center; }
  33% { background-position-x: left; }
  100% { background-position: bottom right; }
}

@media screen and (max-width: 650px) {
  .carousel {
    height: auto;
    flex-flow: row wrap;
    overflow: visible;
  }
  .carousel-container {
    min-height: 90vh;
    min-width: 95vw;
    margin-bottom: 3vh;
  }
  .c__ss {
    position: relative;
    width: 80vw;
    height: 60%;
  }
  .c__is {
    position: relative;
    height: 35%;
    width: 100%;
    flex-flow: row wrap;
  }
  .c__i {
    margin-bottom: 2%;
  }
}