*, *:before, *:after {
    box-sizing: inherit;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', Geneva, sans-serif;
    text-align: center;
    font-size: 15px;
    line-height: 1.5;
    /* vertical-align: baseline; */
}

nav {
    text-align: left;
    position:fixed;
    display: block;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    width:100%;
    z-index:999;
    top:0;
}

nav a {
    display: inline-block;
    user-select: none;
    width: auto;
    padding: 1%;
    border-radius: 3%;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
    color: beige;
    /* font-size: 1.05vw; */
    /* line-height: 50%; */
}

nav a:hover {
    background-color: #fff;
    color: rgba(0, 0, 0, 0.9);
    transition: .5s;
}

.content {   /* changed 5.5% -> 80px */
    padding-top: 80px;
    padding-bottom: 4%;
}

.mySlides {  /* Initially do not display (wait for JavaScript) */
    display: none;
    flex-direction: column;
    background-size: cover;
    overflow: hidden;
    /* position: relative; */
    padding: 0;
    padding-top: 40px;
    background-color: rgb(0, 0, 25);
    /* vertical-align: middle; */
    /* justify-content: center; */
    /* align-items: center; */
    /* text-align: center; */
}

.mySlides .blur {
    width: 100%;
    height:calc(100vh - 40px);
    -webkit-filter: blur(3vw);
    -moz-filter: blur(3vw);
    -o-filter: blur(3vw);
    -ms-filter: blur(3vw);
    filter: blur(3vw);
}

.mySlides img {
    background-color: inherit;
    position: absolute;
    height:calc(100vh - 43px);
    transform: translate(-50%,0);
    -ms-transform:translate(-50%,0);
    left: 50%;
    width: auto;
    max-width: 100%;
    margin: auto;
    border-width: 0;
    /* -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px); */
}

.title {
    position:absolute;
    left:50%;
    top:35%;
    transform:translate(-50%,0%);
    -ms-transform:translate(-50%,0%);
    font-family: 'MuseoModerno', cursive;
    font-weight: bold;
    width: 85%;
}

h1 {
    /* text-shadow: 0.05vw 0 #040404, 0 -0.05vw #040404, -0.05vw 0 #040404, 0 0.05vw #040404; */
    margin: auto;
    margin-top: 0;
    font-size: 4vw;
    max-width: 50%;
    cursor: default;
}

p {
    font-size: 1.3vw;
    line-height: 2vw;
    padding-left: 20%;
    padding-right: 20%;
    text-align: left;
    font-weight: bold;
    text-align: justify;
    text-align: center;
}

video {
    max-width: 100%;
    max-height: 100%;
    min-width: 60%;
    height: auto;
    margin-top: 1%;
}




















ul {
    font-size: 1.3vw;
    line-height: 2vw;
    padding-left: 23.5%;
    padding-right: 20%;
    text-align: left; 
}

li {
    padding-bottom: 1.5%;
}

#takepart a {
    color: navy;
}

a {
    color: navy;
    cursor: pointer;
}

img{
    border: 1px solid #040404;
    width: 35%;
    height: auto;
}





.img_by {
    float: left;
    margin-right: 3%;
    margin-left: 3%;
}

.by_description {
    margin-top: 3%;
    margin-bottom: 2%;
}

.footer {
    background-color: #040404;
    color: beige;
    border-color: snow;
    border-style: inset;
    border-width: 0;
    border-top-width: 1px;
    padding: 0.7%;
    width:100%;
}

.bg-black {
    background-color: #040404;
    color: snow;
}

.center {
    position: absolute;
    transform:translate(-50%,0%);
    -ms-transform:translate(-50%,0%);
    left:50%;
}






/* Below from https://stackoverflow.com/questions/826782 for disabling select*/
    .noselect {
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none;   /* Safari */
        -khtml-user-select: none;    /* Konqueror HTML */
        -moz-user-select: none;      /* Old versions of Firefox */
        -ms-user-select: none;       /* Internet Explorer/Edge */
        user-select: none;           /* Non-prefixed version, currently
                                        supported by Chrome, Edge, Opera and Firefox */
    }

/* Glow effect from https://www.w3schools.com/howto/howto_css_glowing_text.asp */
    .glow {
        font-size: 80px;
        color: #eeeeee;
        text-align: center;
        -webkit-animation: glow 4s ease-in-out infinite alternate;
        -moz-animation: glow 4s ease-in-out infinite alternate;
        animation: glow 4s ease-in-out infinite alternate;
    }
    
    @-webkit-keyframes glow {
        from {text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #c000c0, 0 0 4px #c000c0, 
            0 0 5px #c000c0, 0 0 6px #c000c0, 0 0 7px #c000c0;}
        to {text-shadow: 0 0 2px #eee, 0 0 3px #441955, 0 0 4px #441955, 0 0 5px #441955, 
            0 0 6px #441955, 0 0 7px #441955, 0 0 8px #441955;}
    }

/* Base Code from https://www.w3schools.com/howto/howto_css_modals.asp */
/* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Header */
    .modal-header {
        padding: 1px 8px;
        background-color: #242424;
        color: white;
    }
    
    /* Modal Body */
    .modal-body {padding: 2px 16px;}
    
    /* Modal Content */
    .modal-content {
        position: relative;
        background-color: #fefefe;
        margin: auto;
        padding: 0;
        border-left: 1px solid #444;
        border-right: 1px solid #444;
        width: 80%;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
        animation-name: animatetop;
        animation-duration: 0.4s
    }
    
    /* Add Animation */
    @keyframes animatetop {
        from {top: -300px; opacity: 0}
        to {top: 0; opacity: 1}
    } 

    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover, .close:focus {
        color: rgb(110, 110, 110);
        text-decoration: none;
        cursor: pointer;
    }

/* Base code from https://github.com/CodeExplainedRepo/Multiple-Choice-Quiz-JavaScript */
    .quiz {
        background-color: snow;
    }

    #container{
        margin : 20px auto;
        background-color: rgb(253, 209, 209);
        box-shadow: 0px 5px 15px 0px;
        height: 80vh;
        width : 80%;
        position: relative;
        text-align: center;
    }

    #start{
        letter-spacing: 2px;
        border : 1px solid rgba(0, 0, 0, 0.7);
        border-radius: 1.2%;
        cursor: pointer;
        margin: 0 auto;
        padding: 1%;
        padding-left: 6%;
        padding-right: 6%;
        top:40%;
        color : #040404;
        display: inline-block;
    }

    #start:hover{
        /* border: 3px solid #aaa; */
        /* text-decoration: underline; */
        overflow: hidden;
        color : snow;
        background-color: #040404;
        transition: .5s;
    }

    #question{
        font-size: 2.2em;
        text-align: center;
        margin: auto;
        width: 75%;
        /* position: absolute; */
        top:20%;
    }

    #question p{
        margin : 0;
        padding : 15px;
        font-size: 1.25em;
        line-height: 1.3em;
        /* font-family: Tahoma, Geneva, sans-serif; */
        font-weight: bold;
        text-align: center;
    }

    #choices{
        width : 80%;
        bottom : 35%;
        padding : 30px;
        display: inline-flex;
        justify-content: space-around;
    }

    .Choice-deactivated {
        cursor: not-allowed;
    }

    .choice, .Choice-deactivated {
        display: inline-block;
        width : 30%;
        text-align: center;
        border : 1px solid grey;
        border-radius: 5px;
        padding : 1%;
        font-weight: bold;
        font-size: 1.25em;
        line-height: 1.3em;
    }

    .choice:hover {
        overflow: hidden;
        color : snow;
        background-color: #040404;
        transition: .2s;
        cursor: pointer;
    }

    .solution {
        background-color: #8d8;
        color: black;
        cursor: default;
    }

    .wrong-answer {
        background-color: #d88;
        color: black;
        cursor: default;
    }

    #qNext, #qRestart {
        display: none;
        border: 1px solid black;
        border-radius: 5px;
        padding: 0.2%;
        padding-left: 2%;
        padding-right: 2%;
        bottom: 20%;
        margin: auto;
        cursor: pointer;
        font-size: x-large;
        font-weight: bold;
    }

    #qNext:hover, #qRestart:hover {
        transition: .2s;
        border: 1px solid snow;
        background-color: black;
        color: snow;
        cursor: pointer;
    }

    #progress{
        width : 500px;
        position: absolute;
        bottom : 0px;
        right : 0px;
        padding:5px;
        text-align: right;
    }

    .prog{
        width : 25px;
        height : 25px;
        border: 1px solid #000;
        display: inline-block;
        border-radius: 50%;
        margin-left : 5px;
        margin-right : 5px;
    }

    #scoreContainer{
        margin : 20px auto;
        background-color: white;
        opacity: 0.8;
        height: 300px;
        width : 700px;
        border-radius: 5px;
        box-shadow: 0px 5px 15px 0px;
        position: relative;
        display: none;
    }

    #scoreContainer img{
        position: absolute;
        top:100px;
        left:325px;
        width: 10%;
        height: auto;
    }

    #scoreContainer p{
        position: absolute;
        display: block;
        width: 59px;
        height:59px;
        top:130px;
        font-size: 1.5em;
        font-weight: bold;
        text-align: center;
        font-family: Tahoma, Geneva, sans-serif;
    }

    .icons {
        justify-content: space-around;
        width: 100%;
        text-align: center;
        display: flex;
    }

    
/* code copied from w3schools */
    .fa {
        padding: 20px;
        font-size: 30px;
        width: 80px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
    }

    .fa:hover {
        opacity: 0.7;

    }

    span:hover {
        color: black !important;
    }

    .fa-facebook {
        background: #3B5998;
        color: white;
    }

    .fa-twitter {
        background: #55ACEE;
        color: white;
    }

    .fa-instagram {
        background: #125688;
        color: white;
        
    }

    .icons a {
        font-size: 1.5em;
        text-align: center;
        margin: auto;
    }

    .icons p {
        width: 20%;
        padding: 0;
        left: 40%;
    }
